adf-case2-dev-eastus/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-case2-dev-eastus"
		},
		"lskeyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-case2-dev-eastus.vault.azure.net/"
		},
		"lsfsexcel_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "@{linkedService().lsfsexcel_diretorio_on_prem}"
		},
		"lsfsexcel_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "@{linkedService().lsfsexcel_usuario_on_prem}"
		},
		"lsdls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlscase2deveastus.dfs.core.windows.net"
		},
		"lssqldb_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "connstring-sql-db"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/lskeyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('lskeyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ircase2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsfsexcel')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"lsfsexcel_diretorio_on_prem": {
						"type": "string"
					},
					"lsfsexcel_usuario_on_prem": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('lsfsexcel_properties_typeProperties_host')]",
					"userId": "[parameters('lsfsexcel_properties_typeProperties_userId')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "lskeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "pass-user-on-prem"
					}
				},
				"connectVia": {
					"referenceName": "ircase2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ircase2')]",
				"[concat(variables('factoryId'), '/linkedServices/lskeyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsfsexcel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsfsexcel",
					"type": "LinkedServiceReference",
					"parameters": {
						"lsfsexcel_diretorio_on_prem": {
							"value": "@dataset().dsfsexcel_diretorio_on_prem",
							"type": "Expression"
						},
						"lsfsexcel_usuario_on_prem": {
							"value": "@dataset().dsfsexcel_usuario_on_prem",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"dsfsexcel_diretorio_on_prem": {
						"type": "string",
						"defaultValue": "teste"
					},
					"dsfsexcel_usuario_on_prem": {
						"type": "string",
						"defaultValue": "teste"
					},
					"dsfsexcel_arquivo_on_prem": {
						"type": "string",
						"defaultValue": "teste"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Planilha1",
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().dsfsexcel_arquivo_on_prem",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dsfsexcel_diretorio_on_prem",
							"type": "Expression"
						}
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsfsexcel')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsdbw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4284380302982108.8.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "lskeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "token-dbw-case2-dev-eastus"
					},
					"existingClusterId": "0530-000536-60vu78if"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/lskeyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsdls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('lsdls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "lskeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "storageaccount-key"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/lskeyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lssqldb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "lskeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('lssqldb_properties_typeProperties_connectionString_secretName')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/lskeyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transform')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transform-vendas",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/case2/case2/databricks/transform-twitter"
						},
						"linkedServiceName": {
							"referenceName": "lsdbw",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "transform-twitter",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "transform-vendas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/case2/case2/databricks/transform-twitter"
						},
						"linkedServiceName": {
							"referenceName": "lsdbw",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "transform"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsdbw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsdls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsdls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dsdls_container": {
						"type": "string"
					},
					"dsdls_arquivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().dsdls_arquivo",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().dsdls_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsdls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsdlsparquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsdls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dsdlsparquet_diretorio": {
						"type": "string",
						"defaultValue": "teste"
					},
					"dsdlsparquet_arquivo": {
						"type": "string",
						"defaultValue": "teste"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().dsdlsparquet_arquivo",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().dsdlsparquet_diretorio",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsdls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dssqldb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lssqldb",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dssqldb_tabela": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().dssqldb_tabela",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lssqldb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/curated')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "marca_linha",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "EXEC dbo.pr_cria_tabelas @dssqldb_tabela = 'marca_linha'",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsdlsparquet",
								"type": "DatasetReference",
								"parameters": {
									"dsdlsparquet_diretorio": "silver",
									"dsdlsparquet_arquivo": "marca_linha"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dssqldb",
								"type": "DatasetReference",
								"parameters": {
									"dssqldb_tabela": "marca_linha"
								}
							}
						]
					},
					{
						"name": "vendas",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "EXEC dbo.pr_cria_tabelas @dssqldb_tabela = 'vendas'",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsdlsparquet",
								"type": "DatasetReference",
								"parameters": {
									"dsdlsparquet_diretorio": "silver",
									"dsdlsparquet_arquivo": "vendas"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dssqldb",
								"type": "DatasetReference",
								"parameters": {
									"dssqldb_tabela": "vendas"
								}
							}
						]
					},
					{
						"name": "tabela1_ano_mes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "EXEC dbo.pr_cria_tabelas @dssqldb_tabela = 'tabela1_ano_mes'",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsdlsparquet",
								"type": "DatasetReference",
								"parameters": {
									"dsdlsparquet_diretorio": "silver",
									"dsdlsparquet_arquivo": "tabela1_ano_mes"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dssqldb",
								"type": "DatasetReference",
								"parameters": {
									"dssqldb_tabela": "tabela1_ano_mes"
								}
							}
						]
					},
					{
						"name": "tabela2_marca_linha",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "EXEC dbo.pr_cria_tabelas @dssqldb_tabela = 'tabela2_marca_linha'",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsdlsparquet",
								"type": "DatasetReference",
								"parameters": {
									"dsdlsparquet_diretorio": "silver",
									"dsdlsparquet_arquivo": "tabela2_marca_linha"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dssqldb",
								"type": "DatasetReference",
								"parameters": {
									"dssqldb_tabela": "tabela2_marca_linha"
								}
							}
						]
					},
					{
						"name": "tabela4_linha_ano_mes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "EXEC dbo.pr_cria_tabelas @dssqldb_tabela = 'tabela4_linha_ano_mes'",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsdlsparquet",
								"type": "DatasetReference",
								"parameters": {
									"dsdlsparquet_diretorio": "silver",
									"dsdlsparquet_arquivo": "tabela4_linha_ano_mes"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dssqldb",
								"type": "DatasetReference",
								"parameters": {
									"dssqldb_tabela": "tabela4_linha_ano_mes"
								}
							}
						]
					},
					{
						"name": "tabela3_marca_ano_mes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "EXEC dbo.pr_cria_tabelas @dssqldb_tabela = 'tabela3_marca_ano_mes'",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsdlsparquet",
								"type": "DatasetReference",
								"parameters": {
									"dsdlsparquet_diretorio": "silver",
									"dsdlsparquet_arquivo": "tabela3_marca_ano_mes"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dssqldb",
								"type": "DatasetReference",
								"parameters": {
									"dssqldb_tabela": "tabela3_marca_ano_mes"
								}
							}
						]
					},
					{
						"name": "tweets",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "EXEC dbo.pr_cria_tabelas @dssqldb_tabela = 'tweets'",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsdlsparquet",
								"type": "DatasetReference",
								"parameters": {
									"dsdlsparquet_diretorio": "silver",
									"dsdlsparquet_arquivo": "tweets"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dssqldb",
								"type": "DatasetReference",
								"parameters": {
									"dssqldb_tabela": "tweets"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "curated"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsdlsparquet')]",
				"[concat(variables('factoryId'), '/datasets/dssqldb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Listar arquivos",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dsfsexcel",
								"type": "DatasetReference",
								"parameters": {
									"dsfsexcel_diretorio_on_prem": {
										"value": "@variables('pipeline_diretorio_on_prem')",
										"type": "Expression"
									},
									"dsfsexcel_usuario_on_prem": {
										"value": "@variables('pipeline_usuario_on_prem')",
										"type": "Expression"
									},
									"dsfsexcel_arquivo_on_prem": {
										"value": "@variables('pipeline_arquivo_on_prem')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "FileServerReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Iteracao arquivos",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Listar arquivos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Listar arquivos').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Carregar arquivo",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "FileServerReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dsfsexcel",
											"type": "DatasetReference",
											"parameters": {
												"dsfsexcel_diretorio_on_prem": "C:\\\\work\\\\grupo_boticario\\\\origem",
												"dsfsexcel_usuario_on_prem": "w.de.moura.barbosa@avanade.com",
												"dsfsexcel_arquivo_on_prem": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsdls",
											"type": "DatasetReference",
											"parameters": {
												"dsdls_container": "raw",
												"dsdls_arquivo": {
													"value": "@concat(replace(item().name, ' ', '_'), '.txt')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "raw_base_vendas_e_twitter",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Carregar arquivo",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/case2/case2/databricks/raw_base_vendas_e_twitter",
										"baseParameters": {
											"input": {
												"value": "@concat(replace(item().name, ' ', '_'), '.txt')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsdbw",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"pipeline_usuario_on_prem": {
						"type": "String",
						"defaultValue": "w.de.moura.barbosa@avanade.com"
					},
					"pipeline_diretorio_on_prem": {
						"type": "String",
						"defaultValue": "C:\\\\work\\\\grupo_boticario\\\\origem"
					},
					"pipeline_arquivo_on_prem": {
						"type": "String"
					}
				},
				"folder": {
					"name": "raw"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsfsexcel')]",
				"[concat(variables('factoryId'), '/datasets/dsdls')]",
				"[concat(variables('factoryId'), '/linkedServices/lsdbw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/workflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "raw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "raw",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "transform",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "transform",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "curated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "transform",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "curated",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/raw')]",
				"[concat(variables('factoryId'), '/pipelines/transform')]",
				"[concat(variables('factoryId'), '/pipelines/curated')]"
			]
		}
	]
}