datafactory/pipeline/raw.json
{
	"name": "raw",
	"properties": {
		"activities": [
			{
				"name": "Listar arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsfsexcel",
						"type": "DatasetReference",
						"parameters": {
							"dsfsexcel_diretorio_on_prem": {
								"value": "@variables('pipeline_diretorio_on_prem')",
								"type": "Expression"
							},
							"dsfsexcel_usuario_on_prem": {
								"value": "@variables('pipeline_usuario_on_prem')",
								"type": "Expression"
							},
							"dsfsexcel_arquivo_on_prem": {
								"value": "@variables('pipeline_arquivo_on_prem')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Iteracao arquivos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Listar arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Listar arquivos').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Carregar arquivo",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dsfsexcel",
									"type": "DatasetReference",
									"parameters": {
										"dsfsexcel_diretorio_on_prem": "C:\\\\work\\\\grupo_boticario\\\\origem",
										"dsfsexcel_usuario_on_prem": "w.de.moura.barbosa@avanade.com",
										"dsfsexcel_arquivo_on_prem": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsdls",
									"type": "DatasetReference",
									"parameters": {
										"dsdls_container": "raw",
										"dsdls_arquivo": {
											"value": "@concat(replace(item().name, ' ', '_'), '.txt')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "raw_base_vendas_e_twitter",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Carregar arquivo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/case2/case2/databricks/raw_base_vendas_e_twitter",
								"baseParameters": {
									"input": {
										"value": "@concat(replace(item().name, ' ', '_'), '.txt')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsdbw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"pipeline_usuario_on_prem": {
				"type": "String",
				"defaultValue": "w.de.moura.barbosa@avanade.com"
			},
			"pipeline_diretorio_on_prem": {
				"type": "String",
				"defaultValue": "C:\\\\work\\\\grupo_boticario\\\\origem"
			},
			"pipeline_arquivo_on_prem": {
				"type": "String"
			}
		},
		"folder": {
			"name": "raw"
		},
		"annotations": []
	}
}