datafactory/pipeline/raw_import_files.json
{
	"name": "raw_import_files",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipeline_nome_arquivo_on_prem",
					"value": {
						"value": "@activity('Get Metadata1').output.itemName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsfsexcel",
						"type": "DatasetReference",
						"parameters": {
							"dsfsexcel_diretorio_on_prem": "C:\\\\work\\\\grupo_boticario\\\\origem",
							"dsfsexcel_usuario_on_prem": "w.de.moura.barbosa@avanade.com"
						}
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"pipeline_usuario_on_prem": {
				"type": "String",
				"defaultValue": "w.de.moura.barbosa@avanade.com"
			},
			"pipeline_diretorio_on_prem": {
				"type": "String",
				"defaultValue": "C:\\\\work\\\\grupo_boticario\\\\origem"
			},
			"pipeline_nome_arquivo_on_prem": {
				"type": "String",
				"defaultValue": "nome do arquivo"
			}
		},
		"folder": {
			"name": "raw"
		},
		"annotations": []
	}
}