datafactory/pipeline/raw_import_files.json
{
	"name": "raw_import_files",
	"properties": {
		"activities": [
			{
				"name": "Listar arquivos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": false,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "dsfsexcel",
						"type": "DatasetReference",
						"parameters": {
							"dsfsexcel_diretorio_on_prem": "C:\\\\work\\\\grupo_boticario\\\\origem",
							"dsfsexcel_usuario_on_prem": "w.de.moura.barbosa@avanade.com"
						}
					}
				}
			},
			{
				"name": "Iteracao arquivos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Listar arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Listar arquivos').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Carga arquivos",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item()",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsfsexcel",
									"type": "DatasetReference",
									"parameters": {
										"dsfsexcel_diretorio_on_prem": "C:\\\\work\\\\grupo_boticario\\\\origem",
										"dsfsexcel_usuario_on_prem": "w.de.moura.barbosa@avanade.com"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsdls",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"pipeline_usuario_on_prem": {
				"type": "String",
				"defaultValue": "w.de.moura.barbosa@avanade.com"
			},
			"pipeline_diretorio_on_prem": {
				"type": "String",
				"defaultValue": "C:\\\\work\\\\grupo_boticario\\\\origem"
			}
		},
		"folder": {
			"name": "raw"
		},
		"annotations": []
	}
}