datafactory/pipeline/tweets_linha_mais_vendida.json
{
	"name": "tweets_linha_mais_vendida",
	"properties": {
		"activities": [
			{
				"name": "Consulta",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "with cte as(\n\tselect *, rownum = row_number() over(partition by ano, mes order by qtd DESC)\n\tfrom [dbo].[tabela4_linha_ano_mes]\n\twhere mes = 12\n\tand ano = 2019\n)\nselect str_linha from cte where rownum = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dssqldb",
						"type": "DatasetReference",
						"parameters": {
							"dssqldb_tabela": "tabela4_linha_ano_mes"
						}
					}
				}
			},
			{
				"name": "tweets_linhas_mais_vendidas",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Consulta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/case2/case2/databricks/tweets_linhas_mais_vendidas",
					"baseParameters": {
						"input": {
							"value": "@{activity('Consulta').output.firstRow.str_linha}",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsdbw",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Carga Tweets linha mais vendida",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "tweets_linhas_mais_vendidas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "EXEC dbo.pr_cria_tabelas @dssqldb_tabela = 'tweets_linhas_mais_vendidas'",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dsdlsparquet",
						"type": "DatasetReference",
						"parameters": {
							"dsdlsparquet_diretorio": "goldcase2",
							"dsdlsparquet_arquivo": "tweets_linhas_mais_vendidas"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dssqldb",
						"type": "DatasetReference",
						"parameters": {
							"dssqldb_tabela": "tweets_linhas_mais_vendidas"
						}
					}
				]
			}
		],
		"annotations": []
	}
}